# Ingestion
kagglehub==0.3.6
pandas==2.2.3

# Analysis & Visualization
tabulate==0.9.0
prince==0.15.0
numpy==2.2.1
folium==0.20.0
matplotlib==3.10.0
seaborn==0.13.2
statsmodels==0.14.4
scipy==1.15.1
plotly==6.3.0

# Modeling
scikit-learn==1.6.1
tqdm==4.67.1
ipykernel==6.29.5
pyarrow==19.0.0
polars==1.29.0
statstests==1.0.7